/*
   Config file for countsource
	
	Use these as standard extensions to be counted.
*/
{
  "Extensions": [
    ".css",
    ".html",
    ".js"
  ],
  "BinaryExtensions": [
    ".jpg",
    ".png"
  ],
  "ExcludeDirectories": [
    "bin",
    "obj",
    "Scripts\\jquery.ui"
  ],
  "ExcludeFiles": [
    "countsource.config",
    "jquery.min.js"
  ]
}
